<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BatchCave</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/static/base.css" rel="stylesheet"></link>
  </head>
  <body>
    <div class="container">
        <div class="row">
            <div class="col jumbotron">
                <div class="text-center">
                <h1>{% block header_text %}Batchcave{% endblock %}</h1>
                {% block content %}
                {% endblock %}
                {% if error %}
                <div class="form-group has-error">
                    <span class="help-block">{{ error }}</span>
                </div>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
  </body>
</html>
