{% extends 'base.html' %}

{% block content %}
    <h2>Completed Conversions</h2>
        <table id="id_list_table" class="table">
       {% for item in Conversions %}
            <tr><td>{{ forloop.counter }}: {{ item.name }}</td>
                <td><a href="/download_original/{{ item.pk }}">Download
    Original</a></td>
                <td><a href="/download/{{ item.pk }}">Download Result</a></td>
                <td>{{ item.RecordsIn }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
