{% extends 'base.html' %}

{% block content %}
    <h2>Completed Conversions</h2>
        <div>
            <a href="/conversions/create/">Create a New Conversion</a>
        </div>
        <table id="id_list_table" class="table">
       {% for item in Conversions %}
            <tr><td>{{ item.TimeExecuted }}</td>
                <td>{{ item.Name }}</td>
                <td>{{ item.ConvName }}</td>
                <td><a href="/download_original/{{ item.pk }}">Download Input MRC</a></td>
                <td><a href="/download_original_mrk/{{ item.pk }}">Download Input MRK</a></td>
                <td><a href="/download_result_mrk/{{ item.pk }}">Download Result MRK</a></td>
                <td><a href="/download/{{ item.pk }}">Download Result MRC</a></td>
                <td>{{ item.RecordsIn }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}
